<app-mostrarError [errorResponse]="errorResponse"></app-mostrarError>
<div *ngIf="usuario">
    <h3>{{ usuario.nombre }} {{ usuario.apellidos }}</h3>
    <div class="row">
        <div class="col-md-auto col-xs-12">
            <img [src]="usuario.image" class="rounded img-fluid" />
        </div>
        <div class="col-md-auto col-xs-12">
            <div class="espacio d-block d-md-none"></div>
            <p>
                <b>Email</b> <a href="mailto:{{ usuario.email }}">{{ usuario.email }}</a>
                <br />
                <b>Tipo</b> {{ [null,'Normal','Super Usuario','Periodista'][usuario.tipo] }}
            </p>
            <div *ngIf="preferencias.length > 0">
                <b>Preferencias</b>
                <div class="list-group overflow">
                    <a class="list-group-item list-group-item-action flex-column align-items-start"
                       *ngFor="let categoria of preferencias">
                        <div class="d-flex w-100 justify-content-between align-items-center">
                            <h6 class="mb-0"><a routerLink="/buscar/{{ categoria.id }}">{{ categoria.nombre }}</a></h6>
                            <a href="#" (click)="borrar($event, categoria)" class="delete">&times;</a>
                        </div>
                    </a>
                </div>
            </div>
            <div *ngIf="preferencias.length < categorias.length" style="margin-top: 15px;">
                <b>Podría interesarte...</b>
                <div class="list-group overflow">
                    <a class="list-group-item list-group-item-action flex-column align-items-start"
                       *ngFor="let categoria of categoriasDeInteresParaInsertar">
                        <div class="d-flex w-100 justify-content-between align-items-center">
                            <h6 class="mb-0"><a routerLink="/buscar/{{ categoria.id }}">{{ categoria.nombre }}</a></h6>
                            <a href="#" (click)="insertar($event, categoria)" class="delete">+</a>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="espacio"></div>
    <h3>Eventos creados</h3>
    <listado-eventos [eventos]="eventos"></listado-eventos>
</div>

<div *ngIf="!usuario && usuario === null">
    <h3>No existe este usuario</h3>
    <p class="lead">
        No sabemos como has llegado hasta aquí, pero eso signfica que ha ocurrido algo raro y has llegado
        a parar a una situación extraña
    </p>
</div>
