<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">Agendamlgr</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Muestra/Oculta la navegación">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [class]="routerUrl === '/' ? 'active' : ''">
                <a class="nav-link" routerLink="/">Inicio</a>
            </li>
            <li class="nav-item" [class]="routerUrl === '/perfil' ? 'active' : ''" *ngIf="userLoggedIn">
                <a class="nav-link" routerLink="/perfil">Perfil</a>
            </li>
            <li class="nav-item" [class]="routerUrl === '/crearEvento' ? 'active' : ''" *ngIf="userLoggedIn">
                <a class="nav-link" routerLink="/crearEvento">Crear nuevo evento</a>
            </li>
            <li class="nav-item" [class]="routerUrl && routerUrl.startsWith('/buscar') ? 'active' : ''">
                <a class="nav-link" routerLink="/buscar">Búsqueda avanzada</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 ml-auto">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar por titulo..." [(ngModel)]="textoBuscar" name="tb" aria-label="Buscar">
            <button class="btn btn-outline-success my-2 my-sm-0" (click)="buscar()">Buscar</button>
        </form>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngIf="!userLoggedIn">
                <a class="nav-link" href="http://localhost:8080/agendamlgr-war/oauth/init">Iniciar sesión</a>
            </li>
            <li class="nav-item" *ngIf="userLoggedIn">
                <a class="nav-link" (click)="logout($event)" href="#">Cerrar sesión</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>

