<a routerLink="/">Home</a>
<a href="http://localhost:8080/agendamlgr-war/oauth/init" *ngIf="userLoggedIn == false">Login</a>
<button (click)="logout()" *ngIf="userLoggedIn">Logout</button>
<a routerLink="/perfil">Perfil</a>

<br/>Opciones de busqueda<br/>
Categorias
<div *ngFor="let categoria of categorias">
  <input type="checkbox" (click)="addOrRemove(categoria.id)">
  {{categoria.nombre}}
</div>
MostrarDeMiPreferencia:
<input type="checkbox" [(ngModel)]="mostrarDeMiPreferencia"><br/>
Sus preferencias son:
<b *ngFor="let categoria of preferencias">
  {{ categoria.nombre }}
</b><br/>
OrdenarPorDistancia:
<input type="checkbox" [(ngModel)]="ordenarPorDistancia"><br/>
radio:
<input type="text" [(ngModel)]="radio"><br/>
latitud:
<input type="text" [(ngModel)]="latitud"><br/>
longitud:
<input type="text" [(ngModel)]="longitud"><br/>
<button type="submit" (click)="buscar()">Buscar</button>

<div class="container">
  <router-outlet></router-outlet>
</div>
