<app-mostrarError [errorResponse]="errorResponse"></app-mostrarError>
<h2><b *ngIf="!evento.validado">*</b> {{ evento.nombre }} <small>por <a routerLink="/perfil/{{ evento.creador }}">{{ nombreCreador }}</a></small></h2>

<p style="font-size: 11px;">
    <span *ngFor="let categoria of evento.categoriaList">
        <a routerLink="/buscar/{{ categoria.id }}">{{ categoria.nombre }}</a>
    </span>
</p>

<div class="w-100">
    <div id="carouselEventPictures" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div [class]="i === 0 ? 'carousel-item active' : 'carousel-item'" *ngFor="let foto of fotos; let i = index">
                <img class="d-block w-100" [src]="foto.url" [alt]="foto.titulo" />
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselEventPictures" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselEventPictures" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>
</div>

<h4>Fecha</h4>
<p class="lead">{{ evento.fecha | parseDateString | date:'EEEE d \'de\' MMMM (y), HH:mm':'':'es' }}</p>

<h4>Descripcion</h4>
<p [innerHTML]="evento.descripcion | md"></p>

<h4>Ubicación</h4>
<p class="text-center">
    <agm-map [latitude]="evento.latitud" [longitude]="evento.longitud" [zoom]="14">
        <agm-marker [latitude]="evento.latitud" [longitude]="evento.longitud"></agm-marker>
    </agm-map>
    {{ evento.direccion }}
</p>

<hr />
<div class="d-flex justify-content-center">
    <a href="#" (click)="validar()" class="btn btn-info" *ngIf="validable">Validar</a>
    <span>&nbsp;</span>
    <a routerLink="/editarEvento/{{ evento.id }}" class="btn btn-warning" *ngIf="editable">Editar</a>
    <span>&nbsp;</span>
    <a href="#" (click)="eliminar()" class="btn btn-danger" *ngIf="borrable">Eliminar</a>
    <span>&nbsp;</span>
    <a href="#" class="btn btn-success" *ngIf="evento.precio">Comprar entradas ({{ evento.precio }}€)</a>
</div>
