<div style="margin-bottom: 1rem;" *ngIf="eventos && eventos.length !== 0">
    <agm-map style="height: 40vh;" [latitude]="latitud" [longitude]="longitud" [fitBounds]="limites">
        <agm-marker *ngFor="let evento of eventos" [latitude]="evento.latitud" [longitude]="evento.longitud">
            <agm-snazzy-info-window [closeWhenOthersOpen]="true" [maxWidth]="300" [maxHeight]="400">
                <ng-template>
                    <div class="card">
                        <img src="{{ evento.fotoUrl }}" class="card-img-top" *ngIf="evento.fotoUrl" />
                         <div class="card-body">
                             <h5 class="card-title">{{evento.nombre}}</h5>
                             <h6 class="card-subtitle mb-2 text-muted">
                                 {{evento.fecha | parseDateString | date:'HH:mm dd/MM':'':'es'}}
                             </h6>
                             <a routerLink="/verEvento/{{evento.id}}" class="card-link">Ver evento</a>
                         </div>
                     </div>
                </ng-template>
            </agm-snazzy-info-window>
        </agm-marker>
        <agm-marker *ngIf="coordedanadasCentrado"
                    [latitude]="coordedanadasCentrado.latitude"
                    [longitude]="coordedanadasCentrado.longitude"
                    iconUrl="assets/ic_my_location_black_24px.svg"
                    title="Tu posición"></agm-marker>
    </agm-map>
</div>

<div style="margin-bottom: 1rem" *ngIf="!(eventos && eventos.length !== 0)">
    <div class="d-flex justify-content-center align-items-center" style="height: 40vh; background-color: #cccccc">
        <p style="margin:0;color:white">Mapa disponible cuando haya resultados</p>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="eventos && eventos.length !== 0">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li [class]="page === 0 ? 'page-item disabled' : 'page-item'">
                <a class="page-link" href="#" aria-label="Anterior" (click)="goToPreviousPage($event)">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Anterior</span>
                </a>
            </li>
            <li *ngFor="let i of range(0, totalPages)" [class]="page === i ? 'page-item active' : 'page-item'">
                <a class="page-link" href="#" (click)="goToPage(i, $event)">{{ i + 1 }}</a>
            </li>
            <li [class]="page === totalPages - 1 ? 'page-item disabled' : 'page-item'">
                <a class="page-link" href="#" aria-label="Siguiente" (click)="goToNextPage($event)">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div class="card-columns" *ngIf="eventos">
    <div *ngFor="let evento of eventos.slice(page * eventosPorPagina, (page + 1) * eventosPorPagina)" class="card">
        <img *ngIf="evento.fotoUrl" [src]="evento.fotoUrl" class="card-img-top" alt="{{ evento.nombre }}"/>
        <div class="card-body">
            <h4>{{ evento.nombre }}</h4>
            <h6 class="card-subtitle mb-2 text-muted">
                {{ evento.fecha | parseDateString | date:'EEEE d \'de\' MMMM (y), HH:mm':'':'es' }}
            </h6>
            <p class="card-text" [innerHTML]="evento.descripcion | md"></p>
            <a routerLink="/verEvento/{{evento.id}}" class="card-link">Ver más</a> &nbsp;
            <a href="#" class="card-link" *ngIf="evento.precio">Comprar tickets ({{ evento.precio }} €)</a>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="!eventos">
    <p class="lead text-muted text-center">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
        <br/><br/>
        Cargando eventos...
    </p>
</div>

<div class="d-flex justify-content-center" *ngIf="eventos && eventos.length === 0">
    <p class="lead">No hay eventos para mostrate</p>
</div>

<div class="d-flex justify-content-center" *ngIf="eventos && eventos.length !== 0">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li [class]="page === 0 ? 'page-item disabled' : 'page-item'">
                <a class="page-link" href="#" aria-label="Anterior" (click)="goToPreviousPage($event)">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Anterior</span>
                </a>
            </li>
            <li *ngFor="let i of range(0, totalPages)" [class]="page === i ? 'page-item active' : 'page-item'">
                <a class="page-link" href="#" (click)="goToPage(i, $event)">{{ i + 1 }}</a>
            </li>
            <li [class]="page === totalPages - 1 ? 'page-item disabled' : 'page-item'">

                <a class="page-link" href="#" aria-label="Siguiente" (click)="goToNextPage($event)">

                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </li>
        </ul>
    </nav>
</div>