<h2>Opciones de busqueda</h2>
<h3>Categorias:</h3>
<div *ngFor="let categoria of categorias">
    <input type="checkbox" (click)="addOrRemove(categoria.id)">
    {{categoria.nombre}}
</div>
<h3>Preferencias:</h3>
<input type="checkbox" [(ngModel)]="mostrarDeMiPreferencia"> ¿Mostrar de mi preferencia?<br/>
Sus preferencias son:
<b *ngFor="let categoria of preferencias">
    {{ categoria.nombre }}
</b>
<h3>Distancias:</h3>
<input type="checkbox" [(ngModel)]="ordenarPorDistancia"> ¿Ordenar por distancia?<br/>
radio:
<input type="text" [(ngModel)]="radio"><br/>
latitud:
<input type="text" [(ngModel)]="latitud"><br/>
longitud:
<input type="text" [(ngModel)]="longitud"><br/>
<button type="submit" (click)="buscar()">Buscar</button>

<h2>Resultado de la búsqueda</h2>
<listado-eventos [eventos]="eventos"></listado-eventos>
