<app-mostrarError [errorResponse]="errorResponse"></app-mostrarError>
<h2>Opciones de busqueda</h2>
<ngForm>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="categorias">Categorias</label>
            <select multiple id="categorias" class="form-control" [(ngModel)]="categoriasIds" name="categorias">
                <option *ngFor="let categoria of categorias" [value]="categoria.id">
                    {{ categoria.nombre }}
                </option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label>
                <input type="checkbox" [(ngModel)]="ordenarPorDistancia" name="ordenarPorDistancia" (change)="comprobarPermisosUbicacion">
                ¿Ordenar por distancia?
            </label>
            <div *ngIf="ordenarPorDistancia">
                <label for="radio">Radio</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <input type="number" class="form-control" min="0.1" step="0.1" id="radio" [(ngModel)]="radio" name="radio">
                    <div class="input-group-addon">Km</div>
                </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label>
                <input type="checkbox" [(ngModel)]="mostrarDeMiPreferencia" name="mostrarDeMiPreferencia"> ¿Mostrar de mi preferencia?
            </label>
            <p class="ultimaComaFuera">
                Sus preferencias son:
                <b *ngFor="let categoria of preferencias">
                    {{ categoria.nombre }}<span>,</span>
                </b>
            </p>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-success" (click)="buscar()">Buscar</button>
    </div>
</ngForm>

<div class="espacio"></div>

<h2>Resultado de la búsqueda</h2>
<listado-eventos [eventos]="eventos"></listado-eventos>
